<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-8">
          	<p class="pull-right visible-xs">
            	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          	</p>
			<% if params[:action] == "new" then %>
				<h3 class="masthead-brand">Websites.&nbsp&nbsp <small>Maak een nieuwe website aan.</small></h3>
			<% else %>
				<h3 class="masthead-brand">Websites.&nbsp&nbsp <small>Wijzig een bestaande website.</small></h3>
			<% end %>
			<div class="row">
				<div class="invulformulier">
					<%= form_for @website ,:html => { :class => "form-horizontal", :role => "form"} do |f| %>
					  <div class="form-group">
						<%= f.label :sitenaam, class: "col-sm-2 control-label" %>
						<div class="col-sm-5">
						  <%= f.text_field :sitenaam, :autofocus => true, class: "form-control input-sm" %>
						</div>
					  </div>
					  <div class="form-group">
						<%= f.label  :url, "Adres" , class: "col-sm-2 control-label" %>
						<div class="col-sm-5">
						  <%= f.url_field :url, class: "form-control input-sm" %>
						  <span id="helpBlock" class="help-block">Vergeet de 'http://' niet.</span>
						</div>
					  </div>
					  <div class="form-group">
						<%= f.label :categorie , class: "col-sm-2 control-label" %>
						<div class="col-sm-2">
						  <%= f.collection_select :categorie_id, current_user.categories.all, :id, :omschrijving, {:include_blank => ''}, {:class => 'form-control input-sm'} %>
						</div>
					  </div>
					  <div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<%= f.submit "Bevestig", class: "btn btn-primary" %>
						</div>
					  </div>
					<% end %>
				</div>
			</div>
		</div>
		<%= render 'websites/menu' %>
	</div>
</div>