<h3>Favoriete websites</h3>
<div class="text-center">
   <%#=  page_entries_info @websites %>
  <%= paginate @websites %>
</div>
<%= form_tag websites_path, method: 'get', html: {role: "form"} do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Filter", :name => nil, class: "btn btn-sm btn-primary" %>
    <%= link_to "Toon alles", websites_path, {class: "btn btn-sm btn-link"} %>
  </p>
<% end %>
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Site</th>
      <th>Bezoeken</th>
      <th>Recenste</th>
      <th>Categorie</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to website.sitenaam, websites_path(:teller => website.id, :url => website.url) %></td>
        <td align=right width=10px><%= website.count %></td>
        <td align=center><%= website.laatste_bezoek.strftime("%d/%m/%Y") %></td>
        <td><%= website.categorie.omschrijving unless website.categorie_id.nil? %></td>
        <td><%= link_to 'Edit', edit_website_path(website)%></td>
        <td><%= link_to 'Verwijder', website, method: :delete, data: { confirm: 'Bent u zeker?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Toevoegen', new_website_path, {class: "btn btn-sm btn-primary"} %>
