<br>
<div class="panel panel-info">
  <div class="panel-heading">
	  <h3 class="panel-title">Websites : <%= @filter %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
		
<div class="text-center">
   <%#=  page_entries_info @websites %>
  <%= paginate @websites %> &nbsp
<%= link_to_next_page @websites, 'Volgende pagina' %> &nbsp
	<%= link_to_previous_page @websites, 'Vorige pagina' %>
</div>
		
<%= form_tag websites_path, method: 'get', html: {role: "form"} do %>
  <p align="center">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Filter", :name => nil, class: "btn btn-sm btn-info" %>
    <%= link_to "Toon alles", websites_path, {class: "btn btn-sm btn-link"} %>
  </p>
<% end %>
		
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Website</th>
      <th>Aantal<br>bezoeken</th>
      <th>Laatst<br>bezocht</th>
      <th>Categorie</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	<% @websites.each do |website| %>
		<% case  %>
	  		<% when website.count < 2 %>
      			<tr class="danger">
			<% when website.count > 50 %>
		  		<tr class="success">
		  	<% else %>
		  		<tr>
		<% end %>
		<td><%= link_to website.sitenaam, websites_path(:teller => website.id, :url => website.url) %></td>
        <td width=100px><%= website.count %></td>
        <td width=125px><%= website.laatste_bezoek.strftime("%d/%m/%Y") %></td>
        <td width=125px><%= website.categorie.omschrijving unless website.categorie_id.nil? %></td>
		<td width=50px><div class="btn-group">
			<%= link_to  edit_website_path(website), :class => "btn-xs btn-info" do %>
            <span class="glyphicon glyphicon-edit" title="Wijzig deze website"></span>
            <% end %>
		</div></td>
        <td width=50px><div class="btn-group">
			<%= link_to  website, method: :delete, data: { confirm: 'Bent u zeker?' }, :class => "btn-xs btn-info" do %>
            <span class="glyphicon glyphicon-remove-sign" title="Verwijder deze website"></span>
            <% end %>
		</div></td>  		
    </tr>
    <% end %>
  </tbody>
</table>
		
		<p align="center"><%= link_to 'Toevoegen', new_website_path, {class: "btn btn-sm btn-info"} %></p>
</div>