<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h3>Websites.&nbsp&nbsp <small>Beheer je favoriete sites.</small></h3>

			<div class="row">
				<%= render 'layouts/messages' %>
			</div>

			<div class="row">
				<div class="zoekformulier">
					Zoek naar een website<br>
					<%= form_tag @website, method: 'get', html: {role: "form"} do %>
							<%= text_field_tag :zoek, params[:zoek], :size => 30 %>&nbsp&nbsp
							<%= submit_tag "Zoek", :name => nil, class: "btn btn-sm btn-primary" %>
							<%= link_to "Toon alles", websites_path, {class: "btn btn-sm btn-link"} %>
					<% end %>
				</div>
			</div>

			<div class="row">
				<table class="table">
  				<thead>
    				<tr>
      					<th>Website</th>
      					<th style="text-align:right">Aantal x bezocht</th>
      					<th style="text-align:center">Laatste<br>keer</th>
      					<th style="text-align:center">Categorie</th>
      					<th></th>
      					<th></th>
    				</tr>
  				</thead>
  				<tbody>
					<% @websites.each do |website| %>
		  			<tr>
						<td><%= link_to website.sitenaam, websites_path(:teller => website.id, :url => website.url) %></td>
						<td align="right" width=75px><%= website.count %></td>
						<% case %>
							<% when website.count < 2 %>
								<td align="center" width=125px class="rood"><%= website.laatste_bezoek.try(:strftime, "%d/%m/%Y") %></td>
							<% when website.count > 50 %>
								<td align="center" width=125px color="green"><%= website.laatste_bezoek.try(:strftime, "%d/%m/%Y") %></td>
							<% else %>
								<td align="center" width=125px><%= website.laatste_bezoek.try(:strftime, "%d/%m/%Y") %></td>
						<% end %>
						<td align="center" width=125px><%= website.categorie.omschrijving unless website.categorie_id.nil? %></td>
						<td width=50px>
							<div class="btn-group">
								<%= link_to  edit_website_path(website), :class => "btn-sm btn-primary" do %>
									<span class="glyphicon glyphicon-edit" title="Wijzig deze website"></span>
								<% end %>
							</div>
						</td>
						<td width=50px>
							<div class="btn-group">
								<%= link_to  website, method: :delete, data: { confirm: 'Bent u zeker?' }, :class => "btn-sm btn-primary" do %>
									<span class="glyphicon glyphicon-remove-sign" title="Verwijder deze website"></span>
								<% end %>
							</div>
						</td>
    				</tr>
    				<% end %>
  				</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-3">
			<div class="menu">
				<%= render 'websites/menu' %>
			</div>
		</div>
	</div>
</div>