<p id="notice"><%= notice %></p>

<p>
  <strong>Sitenaam:</strong>
  <%= @website.sitenaam %>
</p>

<p>
  <strong>Url:</strong>
  <%= @website.url %>
</p>

<p>
  <strong>Count:</strong>
  <%= @website.count %>
</p>

<p>
  <strong>User:</strong>
  <%= @website.user_id %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @website.categorie %>
</p>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
