		<div class="col-xs-12 col-sm-1"></div><!--/om ruimte te laten tussen tabel en menu-->
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        	<div class="list-group">
				<p align="center"><%= link_to 'Raadplegingen menu', dossiers_path(:filter => "alle") , :class =>"list-group-item active" %>
				<%= link_to 'Nieuwe toevoegen', new_dossier_path, :class =>"list-group-item" %>
			  	<%= link_to "Raadplegingen voorbije maand", dossiers_path(:filter => "maand"), :class =>"list-group-item" %>
			  	<%= link_to 'Niet afgewerkte dossiers', dossiers_path(:filter => "niet"), :class =>"list-group-item" %>
			  	<%= link_to 'Niet verzonden naar de mutualiteit', dossiers_path(:filter => "niet_mutualiteit"), :class =>"list-group-item" %>
			  	<%= link_to 'Niet verzonden naar de verzekering', dossiers_path(:filter => "niet_verzekering"), :class =>"list-group-item" %>
			  	<%= link_to "Patiënten", personen_path(:filter => "alle"), :class =>"list-group-item" %>
			  	<%= link_to "Patiënt toevoegen", new_persoon_path, :class =>"list-group-item" %>
			  	<%= link_to "Artsen", artsen_path, :class =>"list-group-item" %>
			  	<%= link_to "Arts toevoegen", new_arts_path, :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to "Terug naar het dashboard", inside_path, :class => "list-group-item active" %></strong>
          	</div>
        </div><!--/.sidebar-offcanvas-->

