<% title("Raadplegingen") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
	<div class="row">
		<div class="col-md-9"><!-- Main -->
			<div class="row">
				<h3 class="masthead-brand">Raadplegingen&nbsp&nbsp&nbsp<small>>> beheer hier al je raadplegingen</small></h3>
			</div>

			<!-- Zoekformulier -->
			<div class="row">
				<div class="col-md-9 col-md-offset-3">
					<%= form_tag @dossier, method: 'get', html: {role: "form"}, class: 'navbar-form navbar-left' do %>
						<div class="form-group">
							<%= text_field_tag :search, params[:search], :size => 30, :placeholder => "Zoek naar ...", :class => "form-control" %>
						</div>
						<%= submit_tag "Zoek", :name => nil, class: "btn btn-default" %>
					<% end %>
				</div>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"> <!-- Main -->
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- De tabel -->
			<div class="row">

				<table class="table table-condensed">
  				<thead>
					<tr>
	  					<th>Afgehandeld</th>
      					<th>Datum</th>
      					<th>Patiënt</th>
      					<th>Arts</th>
      					<th>Specialiteit</th>
	  					<th>Mutualiteit</th>
	  					<th>Verzekering</th>
      					<th></th>
      					<th></th>
    				</tr>
  				</thead>
  				<tbody>
				  	<% @dossiers.each do |dossier| %>
				  	<tr>
						<td><%= dossier.afgehandeld %></td>
						<td><%= dossier.datum_onderzoek.strftime("%d/%m/%Y") %></td>
						<td><%= dossier.persoon.voornaam %></td>
						<td><%= dossier.arts.naam %></td>
						<td><%= dossier.arts.specialiteit %></td>
						<td><%= dossier.ziekenkas_verzonden %></td>
						<td><%= dossier.verzekering_verzonden %></td>
						<td width=50px>
							<div class="btn-group">
								<%= link_to  edit_dossier_path(dossier) do %>
									<span class="glyphicon glyphicon-edit" title="Wijzig dit dossier"></span>
								<% end %>
							</div>
						</td>
						<td width=50px>
							<div class="btn-group">
								<%= link_to  dossier, method: :delete, data: { confirm: 'Bent u zeker?' } do %>
									<span class="glyphicon glyphicon-trash" title="Verwijder dit dossier"></span>
								<% end %>
							</div>
						</td>
					</tr>
					<% end %>
  				</tbody>
			</table>
			</div>
		</div>

		<!-- Menu -->
		<%= render 'dossiers/menu' %>
	</div>
</div>
