		<div class="col-sm-2 col-sm-offset-1">
        	<div class="list-group">
				<p align="center"><%= link_to 'Notities menu', notities_path(:filter => "alle"), :class =>"list-group-item active" %>
				<%= link_to 'Nieuwe toevoegen', new_notitie_path, :class =>"list-group-item" %>
				<%= link_to "Belangrijk", notities_path(:filter => "belangrijk"), :class =>"list-group-item" %>
				<%= link_to "Recentste", notities_path(:filter => "recent"), :class =>"list-group-item" %>
				<%= link_to "Afgelopen week", notities_path(:filter => "week"), :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to inside_path, :class => "list-group-item active" do %>
					<i class="glyphicon glyphicon-th"></i>&nbsp; Dashboard
				<% end %></strong></p>
          	</div>
        </div>