<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Notities</h3>
  </div>
  <div class="panel-body">
    <div class="row">
<% @notities.each do |notitie| %>   
    <div class="col-md-5 col-md-offset-1 alert alert-info" style="background-color:lavender;">
        <p align=right><%=notitie.created_at.strftime("%d/%m/%Y") %></p>
        <p class="text-center"> <%=simple_format(notitie.notitie) %>
            <div class="btn-group">
                <%= link_to  edit_notitie_path(notitie), :class => "btn-xs btn-primary" do %>
                    <span class="glyphicon glyphicon-edit" title="Wijzig deze notitie"></span>
                <% end %>
            </div>
            <div class="btn-group">
                <%= link_to  notitie, method: :delete, data: { confirm: 'Bent u zeker?' }, :class => "btn-xs btn-primary" do %>
                    <span class="glyphicon glyphicon-remove-sign" title="Verwijder deze notitie"></span>
                <% end %>
            </div>  
        </p>
    </div>
<% end %>
</div>
<%= link_to 'Toevoegen', new_notitie_path, {class: "btn btn-sm btn-info"} %>
  </div>
</div>




