<br>
<div class="panel panel-info">
  <div class="panel-heading">
	  <h3 class="panel-title">Notities : <%= @filter %></h3>
  </div>
  <div class="panel-body">
    <div class="row">

		<%= form_tag @notitie, method: 'get', html: {role: "form"} do %>
  	<p align="center">
		<%= text_field_tag :zoek, params[:zoek], :size => 50 %>
		<%= submit_tag "Filter alle notities", :name => nil, class: "btn btn-sm btn-info" %>
		</p><br>
<% end %>		
		
		
<% i = 0 %>		
<table>
	<% @notities.each do |notitie| %>
		<% if i == 0 %>
  			<tr>
		<% end %>
    	<td>&nbsp&nbsp</td>
	  	<td width="50%"><div class="alert alert-warning" role="warning">
				<% if notitie.belangrijk %>
					<img src="belangrijk.png" alt="belangrijk">
				<% end %>
				<p align=right><%=notitie.created_at.strftime("%d/%m/%Y") %></p>
				<p><%=simple_format(notitie.notitie) %></p>
				<div class="btn-group">
                	<%= link_to  edit_notitie_path(notitie), :class => "btn-xs btn-info" do %>
                    	<span class="glyphicon glyphicon-edit" title="Wijzig deze notitie"></span>
                	<% end %>
            	</div>
            	<div class="btn-group">
                	<%= link_to  notitie, method: :delete, data: { confirm: 'Bent u zeker?' }, :class => "btn-xs btn-info" do %>
                    	<span class="glyphicon glyphicon-remove-sign" title="Verwijder deze notitie"></span>
                	<% end %>
            	</div>  
			</div>
		</td>
		<td>&nbsp&nbsp</td>
		<% if i == 1 %>			
	  		</tr>
			<% i = 0 %>
		<% else %>
			<% i = 1 %>
		<% end %>
	<% end %>
</table>
		
		<p align="center"><%= link_to 'Toevoegen', new_notitie_path, {class: "btn btn-sm btn-info"} %></p>
  </div>
</div>




