		<div class="col-xs-12 col-sm-1"></div><!--/om ruimte te laten tussen tabel en menu-->
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        	<div class="list-group">
				<p align="center"><%= link_to 'Todos menu', todos_path, :class =>"list-group-item active" %>
				<%= link_to 'Wijzig', edit_todo_path(@todo), :class =>"list-group-item" %>
				<%= link_to "Verwijder", todo_path(@todo), method: :delete, data: { confirm: "Zeker?" }, :class =>"list-group-item" %>
				<%= link_to 'Kopieer lijst', kopieer_todo_path(@todo), method: :patch , :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to "Terug naar het dashboard", inside_path, :class => "list-group-item active" %></strong>
          	</div>
        </div><!--/.sidebar-offcanvas-->

