<% title("Registreer") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
		<!-- De eerste rij met titel en topmenu -->
		<div class="row">
			<div class="masthead clearfix">
				<div class="inner">
					<div class="col-md-3">
						<h3 class="masthead-brand">JBapp</h3>
					</div>
					<div class="col-md-9">
						<nav>
							<ul class="nav masthead-nav">
							  <li><%= link_to "Home", home_path %></li>
							  <li><%= link_to "About", about_path %></li>
							  <% if !user_signed_in? %>
								<li><%= link_to "Log in", new_user_session_path %></li>
							  <% else %>
								<li><%= link_to "Dashboard", inside_path %></li>
								<li><%= link_to "Afmelden (#{current_user.username})", destroy_user_session_path, data:{method: :delete} %></li>
								<li><%= link_to "Profiel", edit_user_registration_path %></li>
								<% if current_user.admin? %>
									<li>
										<%= link_to  admin_root_path do %>
											<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
										<% end %>
									</li>
								<% end %>
							  <% end %>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- De tweede rij met de content en het menu -->
		<%= render 'layouts/messages' %>
		<%= devise_error_messages! %>
		<br><br><br>

		<p class="text-danger">Let op : momenteel is dit nog in beta en is het niet mogelijk om te registreren.</p>

		<div class="col-md-12">
		<div class="row input-formulier">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
				<div class="form-group">
					<%= f.label :username, "Gebruikersnaam", class: "col-sm-2 col-sm-offset-2 control-label" %>
					<div class="col-sm-4">
						<%= f.text_field :username, :autofocus => true, class: "form-control input-sm" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :email, "E-mail", class: "col-sm-2 col-sm-offset-2 control-label"  %>
						<div class="col-sm-4">
							<%= f.email_field :email, class: "form-control input-sm" %>
						</div>
				</div>
				<div class="form-group">
					<%= f.label :password,"Paswoord", class: "col-sm-2 col-sm-offset-2 control-label" %>
						<div class="col-sm-4">
							<%= f.password_field :password, class: "form-control input-sm" %>
						</div>
				</div>
				<div class="form-group">
					<%= f.label :password_confirmation,"Bevestig paswoord" , class: "col-sm-2 col-sm-offset-2 control-label" %>
						<div class="col-sm-4">
							<%= f.password_field :password_confirmation, class: "form-control input-sm" %>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-4">
						<%= f.submit "Registreer", class: "btn btn-primary style='float:left;'" %>
					</div>
				</div>
			<% end %>
		</div>
		</div>
		<br><br><br><br>

		<div class="row">
			<%= render "devise/shared/links" %>
		</div>
</div>





