<div class="container">  
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-8">
          	<p class="pull-right visible-xs">
            	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          	</p>
			<h3 class="masthead-brand">Patiënten.&nbsp&nbsp <small>Beheer je patiënten.</small></h3>
			<div class="row">
				<%= render 'layouts/messages' %> 		
				<table class="table">
  					<thead>
    					<tr>
      						<th>Voornaam</th>
							<th>Naam</th>
							<th>Geboortedatum</th>
							<th>Geslacht</th>
      						<th></th>
      						<th></th>
    					</tr>
  					</thead>
  					<tbody>
	  					<% @personen.each do |persoon| %>
      						<tr>
		  						<td width="20%"><%= persoon.voornaam %></td>
		  						<td width="20%"><%= persoon.naam %></td>
		  						<td width="20%"><%= persoon.geboortedatum.strftime("%d/%m/%Y") %></td>
		  						<td width="20%"><%= persoon.soort %></td>
		  						<td width="5%">
									<div class="btn-group">
			  							<%= link_to  edit_persoon_path(persoon), :class => "btn-sm btn-primary" do %>
                    						<span class="glyphicon glyphicon-edit" title="Wijzig deze persoon"></span>
                						<% end %>
            						</div>
								</td>
            					<td width="5%">
									<div class="btn-group">
										<%= link_to  persoon, method: :delete, data: { confirm: 'Bent u zeker?' }, :class => "btn-sm btn-primary" do %>
                    						<span class="glyphicon glyphicon-remove-sign" title="Verwijder deze persoon"></span>
                						<% end %>
            						</div>
								</td> 
      						</tr>
    					<% end %>
  					</tbody>					
				</table>
			</div>
		</div>     
		<%= render 'dossiers/menu' %> 
	</div>  
</div>