<% title("Personen") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
	<div class="row">
		<div class="col-md-9"><!-- Main -->
			<div class="row">
				<h3 class="masthead-brand">Personen&nbsp&nbsp&nbsp<small>>> beheer hier je personen</small></h3>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"> <!-- Main -->
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- De tabel -->
			<div class="row">
				<table class="table table-condensed">
  					<thead class="tabel-titel">
    					<tr>
      						<th>Voornaam</th>
							<th>Naam</th>
							<th>Geboortedatum</th>
							<th>Geslacht</th>
      						<th></th>
      						<th></th>
    					</tr>
  					</thead>
  					<tbody>
	  					<% @personen.each do |persoon| %>
      						<tr>
		  						<td width="20%"><%= persoon.voornaam %></td>
		  						<td width="20%"><%= persoon.naam %></td>
		  						<td width="20%"><%= persoon.geboortedatum.strftime("%d/%m/%Y") %></td>
		  						<td width="20%"><%= persoon.soort %></td>
		  						<td width="5%">
									<div class="btn-group">
			  							<%= link_to  edit_persoon_path(persoon) do %>
                    						<span class="glyphicon glyphicon-edit" title="Wijzig deze persoon"></span>
                						<% end %>
            						</div>
								</td>
            					<td width="5%">
									<div class="btn-group">
										<%= link_to  persoon, method: :delete, data: { confirm: 'Bent u zeker?' } do %>
                    						<span class="glyphicon glyphicon-trash" title="Verwijder deze persoon"></span>
                						<% end %>
            						</div>
								</td>
      						</tr>
    					<% end %>
  					</tbody>
				</table>
			</div>
		</div>

		<!-- Menu -->
		<% if params[:filter] == "prestatie" then %>
			<%= render 'prestaties/menu' %>
		<% else %>
			<%= render 'dossiers/menu' %>
		<% end %>
	</div>
</div>