<% title("Aankopen") %>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<% if params[:action] == "new" then %>
					<h3 class="masthead-brand">Aankopen&nbsp&nbsp&nbsp<small>>> geef een nieuwe aankoop in</small></h3>
				<% else %>
					<h3 class="masthead-brand">Aankopen&nbsp&nbsp&nbsp<small>>> wijzig een bestaande aankoop</small></h3>
				<% end %>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- Main -->
			<div class="row input-formulier">
					<%= form_for @aankoop ,:html => { :class => "form-horizontal", :role => "form"} do |f| %>
  						<div class="form-group">
	  						<%= f.label :aankoopdatum, class: "col-sm-2 control-label" %>
    						<div class="col-sm-4">
								<%= f.date_select(:aankoopdatum, {class: "date-select"}) %>
    						</div>
  						</div>
						<div class="form-group">
							<%= f.label  :soort , "Categorie" ,class: "col-sm-2 control-label" %>
    							<div class="col-sm-3">
									<%= f.select(:soort, Aankoop::CATEGORIE, {:include_blank => true}, {class: "form-control input-sm"}) %>
    							</div>
  						</div>
  						<div class="form-group">
	  						<%= f.label :winkel , class: "col-sm-2 control-label" %>
    							<div class="col-sm-6">
									<%= f.text_field :winkel, class: "form-control input-sm" %>
    							</div>
  						</div>
  						<div class="form-group">
	  						<%= f.label :artikel , class: "col-sm-2 control-label" %>
    							<div class="col-sm-6">
									<%= f.text_field :artikel, class: "form-control input-sm" %>
    							</div>
  						</div>
  						<div class="form-group">
	  						<%= f.label :prijs , class: "col-sm-2 control-label" %>
    							<div class="col-sm-2">
      								<%= f.text_field :prijs, class: "form-control input-sm" %>
    							</div>
  						</div>
  						<div class="form-group">
	  						<%= f.label :garantie_maanden ,"Garantie (in maanden)", class: "col-sm-2 control-label" %>
    							<div class="col-sm-2">
      								<%= f.text_field :garantie_maanden , class: "form-control input-sm" %>
    							</div>
  						</div>
						<div class="form-group">
	  						<%= f.label :opmerking, class: "col-sm-2 control-label" %>
    							<div class="col-sm-6">
									<%= f.text_area :opmerking, :autofocus => true, class: "form-control input-sm" %>
    							</div>
  						</div>
						<div class="form-group">
    						<div class="col-sm-offset-2 col-sm-10">
								<%= f.submit "Bevestig", class: "btn btn-primary" %>
    						</div>
  						</div>
				<% end %>
			</div>
		</div>
		<%= render 'aankopen/menu' %>
	</div>
</div>



