<div class="container">  
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-8">
          	<p class="pull-right visible-xs">
            	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          	</p>
			<% if params[:action] == "new" then %>  
				<h3 class="masthead-brand">Aankopen.&nbsp&nbsp <small>Geef een nieuwe aankoop in.</small></h3>
			<% else %>
				<h3 class="masthead-brand">Aankopen.&nbsp&nbsp <small>Wijzig een bestaande aankoop.</small></h3>
			<% end %>
			<div class="row">
				<div class="invulformulier">
					<%= form_for @aankoop ,:html => { :class => "form-horizontal", :role => "form"} do |f| %>
  						<div class="form-group">
	  						<%= f.label :aankoopdatum, class: "col-sm-2 control-label" %>
    						<div class="col-sm-4">
								<%= f.date_select(:aankoopdatum, {class: "date-select"}) %>  
    						</div>
  						</div>
						<div class="form-group">
							<%= f.label  :soort , "Categorie" ,class: "col-sm-2 control-label" %>   
    							<div class="col-sm-3">
									<%= f.select(:soort, Aankoop::CATEGORIE, {:include_blank => true}, {class: "form-control input-sm"}) %>
    							</div>
  						</div>
  						<div class="form-group">
	  						<%= f.label :winkel , class: "col-sm-2 control-label" %>
    							<div class="col-sm-6">
									<%= f.text_field :winkel, class: "form-control input-sm" %>  
    							</div>
  						</div>
  						<div class="form-group">
	  						<%= f.label :artikel , class: "col-sm-2 control-label" %>
    							<div class="col-sm-6">
									<%= f.text_field :artikel, class: "form-control input-sm" %>  
    							</div>
  						</div>
  						<div class="form-group">
	  						<%= f.label :prijs , class: "col-sm-2 control-label" %>
    							<div class="col-sm-2">
      								<%= f.text_field :prijs, class: "form-control input-sm" %>  
    							</div>
  						</div>
  						<div class="form-group">
	  						<%= f.label :garantie_maanden ,"Garantie (in maanden)", class: "col-sm-2 control-label" %>
    							<div class="col-sm-2">
      								<%= f.text_field :garantie_maanden , class: "form-control input-sm" %>  
    							</div>
  						</div>
						<div class="form-group">
	  						<%= f.label :opmerking, class: "col-sm-2 control-label" %>
    							<div class="col-sm-6">
									<%= f.text_area :opmerking, :autofocus => true, class: "form-control input-sm" %>  
    							</div>
  						</div>
						<div class="form-group">
    						<div class="col-sm-offset-2 col-sm-10">
								<%= f.submit "Bevestig", class: "btn btn-primary" %>
    						</div>
  						</div>  
					<% end %>					
				</div>
			</div>
		</div>     
		<%= render 'aankopen/menu' %> 
	</div>  
</div>



