		<div class="col-sm-2 col-sm-offset-1"> 
        	<div class="list-group">
				<p align="center"><%= link_to 'Aankopen menu', aankopen_path(:filter => "alle") , :class =>"list-group-item active" %>
				<%= link_to 'Nieuwe toevoegen', new_aankoop_path, :class =>"list-group-item" %>
				<%= link_to "Meer dan 1000 €", aankopen_path(:filter => "euro"), :class =>"list-group-item" %>
			  	<%= link_to "Recentste", aankopen_path(:filter => "recent"), :class =>"list-group-item" %>
			  	<%= link_to "Afgelopen maand", aankopen_path(:filter => "maand"), :class =>"list-group-item" %>
			  	<%= link_to "Afgelopen jaar", aankopen_path(:filter => "jaar"), :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to inside_path, :class => "list-group-item active" do %>
					<i class="glyphicon glyphicon-th"></i>&nbsp; Dashboard
				<% end %></strong></p>
			</div>
		</div>

