<% title("Aankopen") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
	<div class="row">
		<div class="col-md-9"><!-- Main -->
			<div class="row">
				<h3 class="masthead-brand">Aankopen&nbsp&nbsp&nbsp<small>>> beheer hier al je aankopen</small></h3>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"> <!-- Main -->
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- De tabel -->
			<div class="row">
				<table class="table table-condensed">
  					<thead class="tabel-titel">
    					<tr>
      						<th>Datum</th>
      						<th>Soort</th>
      						<th>Winkel</th>
      						<th>Artikel</th>
	  						<th>Prijs</th>
							<th>Garantie</th>
      						<th></th>
      						<th></th>
    					</tr>
  					</thead>
					<tbody>
	  					<% @aankopen.each do |aankoop| %>
      						<tr>
		  						<td><%= aankoop.aankoopdatum.strftime("%d/%m/%Y") %></td>
		  						<td><%= aankoop.soort %></td>
		  						<td><%= aankoop.winkel %></td>
		  						<td><%= aankoop.artikel %></td>
		  						<td align="right"><%= number_to_currency(aankoop.prijs, locale: :nl) %></td>
		  						<td align="right"><%= aankoop.garantie_maanden %></td>
								<td width=50px>
									<div class="btn-group">
										<%= link_to  edit_aankoop_path(aankoop) do %>
            								<span class="glyphicon glyphicon-edit" title="Wijzig deze aankoop"></span>
            							<% end %>
									</div>
								</td>
        						<td width=50px>
									<div class="btn-group">
										<%= link_to  aankoop, method: :delete, data: { confirm: 'Bent u zeker?' } do %>
            								<span class="glyphicon glyphicon-trash" title="Verwijder deze aankoop"></span>
            							<% end %>
									</div>
								</td>
    						</tr>
    					<% end %>
  					</tbody>
				</table>
			</div>
		</div>

		<!-- Menu -->
		<%= render 'aankopen/menu' %>
	</div>
</div>

