<br>
<div class="panel panel-info">
  <div class="panel-heading">
	  <h3 class="panel-title">Aankopen : <%= @filter %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
  </div>	
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Soort</th>
      <th>Winkel</th>
      <th>Artikel</th>
	  <th>Prijs</th>
	  <th>Garantie</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	  <% @aankopen.each do |aankoop| %>
      <tr>
		  <td><%= aankoop.aankoopdatum.strftime("%d/%m/%Y") %></td>
		  <td><%= aankoop.soort %></td>
		  <td><%= aankoop.winkel %></td>
		  <td><%= aankoop.artikel %></td>
		  <td align="right"><%= number_to_currency(aankoop.prijs, locale: :nl) %></td>
		  <td align="right"><%= aankoop.garantie_maanden %></td>
		<td width=50px><div class="btn-group">
			<%= link_to  edit_aankoop_path(aankoop), :class => "btn-xs btn-info" do %>
            <span class="glyphicon glyphicon-edit" title="Wijzig deze aankoop"></span>
            <% end %>
		</div></td>
        <td width=50px><div class="btn-group">
			<%= link_to  aankoop, method: :delete, data: { confirm: 'Bent u zeker?' }, :class => "btn-xs btn-info" do %>
            <span class="glyphicon glyphicon-remove-sign" title="Verwijder deze aankoop"></span>
            <% end %>
		</div></td>  		
    </tr>
    <% end %>
  </tbody>
</table>
		
		<p align="center"><%= link_to 'Toevoegen', new_aankoop_path, {class: "btn btn-sm btn-info"} %></p>
</div>
