<% title("Paswoord vergeten") %>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
    	<div class="cover-container">
        	<div class="masthead clearfix">
            	<div class="inner">
              		<h3 class="masthead-brand">JBapp</h3>
					<nav>
                		<ul class="nav masthead-nav">
               				<li><%= link_to "Home", home_path %></li>
							<li><%= link_to "About", about_path %></li>
               				<% if !user_signed_in? %>
								<li><%= link_to "Log in", new_user_session_path %></li>
               				<% else %>
                  				<li><%= link_to "Dashboard", inside_path %></li>
								<li><%= link_to "Afmelden (#{current_user.username})", destroy_user_session_path, data:{method: :delete} %></li>
								<li><%= link_to "Account", edit_user_registration_path %></li>
								<% if current_user.admin? %>
  									<li>
										<%= link_to  admin_root_path do %>
        									<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        								<% end %>
									</li>
								<% end %>
                  			<% end %>
                		</ul>
              		</nav>
            	</div>
          	</div>
			<h1>Paswoord vergeten?</h1>
			<div class="container">
				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => "form" }) do |f| %>
					<%= devise_error_messages! %>
					<div class="form-group">
    					<%= f.label :email %>
        				<div class="row">
        					<div class="col-sm-2">
            					<%= f.email_field :email, :autofocus => true, class: "form-control" %>
          					</div>
        				</div>
					</div>
    				<div class="row">
    					<div class="col-sm-6">
							<%= f.submit "Stuur mij instructies om mijn paswoord te resetten", class: "btn btn-primary" %>
        				</div>
					</div>
				<% end %>
			</div>
			<br>
			<%= render "devise/shared/links" %>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<div class="mastfoot">
    			<div class="inner">
        			<p align="center">Gemaakt door Jurgen Bosmans <a href="http://www.2004.be">2004.be</a>, &copy; 2015.</p>
        		</div>
    		</div>
		</div>
	</div>
</div>