<% title("Meterstanden") %>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<% if params[:action] == "new" then %>
					<h3 class="masthead-brand">Meterstanden&nbsp&nbsp&nbsp<small>>> geef een nieuwe meterstand in</small></h3>
				<% else %>
					<h3 class="masthead-brand">Websites&nbsp&nbsp&nbsp<small>>> wijzig een bestaande meterstand</small></h3>
				<% end %>
			</div>
			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"> <!-- Main -->
					<%= render 'layouts/messages' %>
				</div>
			</div>
			<div class="row input-formulier">
					<% if not @meterstand_vorig.nil? %>
						<div class="alert alert-warning" role="alert" align="center">
							De <b>vorige stand</b> op <%= @meterstand_vorig.datum.try(:strftime, "%d/%m/%Y") %> was <b><%= @meterstand_vorig.stand %></b> met een verbruik van <%= @meterstand_vorig.verbruik %>
						</div>
					<% end %>
					<%= form_for @meterstand ,:html => { :class => "form-horizontal", :role => "form"} do |f| %>
						<div class="form-group">
							<%= f.label  :meter , "Meter" ,class: "col-sm-2 control-label" %>
							<div class="col-sm-3">
								<%= f.select(:meter, Meterstand::METER, {:include_blank => true}, {class: "form-control input-sm"}) %>
							</div>
					  	</div>
						<div class="form-group">
							<%= f.label :datum, class: "col-sm-2 control-label" %>
							<div class="col-sm-4">
								<%= f.date_select(:datum, {class: "date-select"}) %>
							</div>
					  	</div>
					  	<div class="form-group">
							<%= f.label :stand, "Meterstand" , class: "col-sm-2 control-label" %>
							<div class="col-sm-4">
						  		<%= f.text_field :stand, class: "form-control input-sm" %>
							</div>
					  	</div>
					  	<div class="form-group">
							<%= f.label :verbruik , class: "col-sm-2 control-label" %>
							<div class="col-sm-4">
						  		<%= f.text_field :verbruik, class: "form-control input-sm" %>
							</div>
					  	</div>
					  	<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<%= f.submit "Bevestig", class: "btn btn-primary" %>
							</div>
					  	</div>
					<% end %>
			</div>
		</div>
		<%= render 'meterstanden/menu' %>
	</div>
</div>


