		<div class="col-sm-2 col-sm-offset-1"> 
        	<div class="list-group">
				<p align="center"><%= link_to 'Meterstand menu', meterstanden_path(:filter =>"alle"), :class =>"list-group-item active" %>
					<%= link_to 'Nieuwe toevoegen', new_meterstand_path, :class =>"list-group-item" %>
			  	<%= link_to "Recentste", meterstanden_path(:filter => "recent"), :class =>"list-group-item" %>
			  	<%= link_to "Vergelijk recenste meterstand vorige jaren", vergelijk_meterstanden_path, :class =>"list-group-item" %>
			  	<%= link_to "Verbruik winterperiode", winter_meterstanden_path, :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to inside_path, :class => "list-group-item active" do %>
					<i class="glyphicon glyphicon-th"></i>&nbsp; Dashboard
				<% end %></strong></p>
			</div>
		</div>
