<% title("Meterstanden") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
	<div class="row">
		<div class="col-md-9"><!-- Main -->
			<div class="row">
				<h3 class="masthead-brand">Meterstanden&nbsp&nbsp&nbsp<small>>> beheer hier je meterstand</small></h3>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"> <!-- Main -->
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- De tabel -->
			<div class="row">
				<table class="table table-condensed">
					<thead class="tabel-titel">
						<tr>
							<th>Meter</th>
						  	<th>Datum</th>
						  	<th>Meterstand</th>
						  	<th>Verbruik</th>
						  	<th></th>
						  	<th></th>
						</tr>
					</thead>
					<tbody>
					<% @meterstanden.each do |meterstand| %>
						<tr>
							<td width=50%><%= meterstand.meter %></td>
							<td width=10%><%= meterstand.datum.try(:strftime, "%d/%m/%Y") %></td>
							<td align="right" width=10%><%= meterstand.stand %></td>
							<td align="right" width=10%><%= meterstand.verbruik %></td>
							<td width=10% align="center">
								<div class="btn-group">
									<%= link_to  edit_meterstand_path(meterstand) do %>
										<span class="glyphicon glyphicon-edit" title="Wijzig deze meterstand"></span>
									<% end %>
								</div>
							</td>
							<td width=10%>
								<div class="btn-group">
									<%= link_to  meterstand, method: :delete, data: { confirm: 'Bent u zeker?' } do %>
										<span class="glyphicon glyphicon-trash" title="Verwijder deze aankoop"></span>
									<% end %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			</div>
		</div>

		<!-- Menu -->
		<%= render 'meterstanden/menu' %>
	</div>
</div>