<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Overzicht verbruik winterperiode maand oktober tem maart</h3>
  </div>
  <div class="panel-body">
	  <%= @waarde_jaar %><br>
	  <%= @waarde_jaar1 %><br>
	  <%= @waarde_jaar2 %><br>
	  <%= @waarde_jaar3 %><br>
	  <%= Time.new(@jaar1,10,1).strftime("%d/%m/%Y") %><br>
	  <%= Time.new(@jaar,4,1).strftime("%d/%m/%Y") %><br>
	  Max : <%= @max %><br>
	  Einde
	  <% if @max == 0 then %><br>
	  <p>Geen gegevens beschikbaar.</p>
	  <% else %>
    <table>
		<tr><td><b>Periode <%= @jaar1.to_s + "/" + @jaar.to_s %></b></td><td><%= @waarde_jaar.round %></td><td><mark><%= "#" * @grafiek_jaar %></mark></td></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
	  </table>
	  <% end %>
  </div>
</div>