<% title("About") %>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">JBapp</h3>
				<nav>
                <ul class="nav masthead-nav">
                  <li><%= link_to "Home", home_path %></li>
                  <li class="active"><a href="#">About</a></li>
                  <% if !user_signed_in? %>
                    <li><%= link_to "Log in", new_user_session_path %></li>
                  <% else %>
                    <li><%= link_to "Dashboard", inside_path %></li>
                  	<li><%= link_to "Afmelden (#{current_user.username})", destroy_user_session_path, data:{method: :delete} %></li>
					<li><%= link_to "Account", edit_user_registration_path %></li>
					<% if current_user.admin? %>
  						<li>
							<%= link_to  admin_root_path do %>
        						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        					<% end %>
						</li>
					<% end %>
                  <% end %>
                </ul>
              	</nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Snips die reeds beschikbaar zijn</h1>
            <p>Website => al je favorieten bij de hand, laatst toegevoegd, aantal keer gebruikt, ...
              <br>Notitie => kleine notities, belangrijke notities, ...
              <br>Gezondheid => volg je raadplegingen op, artsen, geneesheren, afhandeling ziekenkas, verzekering, ...
              <br>Aankoop => al je aankopen op een rijtje, garanties, ...
              <br>Onderhoud => onderhoud op aankopen, volgende onderhoud, ...
              <br>Culinair => al je recepten, ingrediënten, beoordelingen, ervaringen, tips, ...
              <br>Verbruik => hou je verbruiken bij van water, gas, electriciteit, grafieken van jaarlijks verbruik, ...
              <br><br>
              <span class="label label-info">Nieuw</span>
              <br>Prestatie => alle sport en andere prestaties op een rijtje, ...
              <br><br>
              <span class="label label-warning">Verwacht</span>
              <br>Todo => lijstjes om af te vinken, lijstjes copiëren,...
            </p>
            <br>
            <p class="lead">Gezondheid & Prestaties van andere personen opgeven is ook mogelijk.</p>
            <br>
            <p class="lead">...en dit alles met een dashboard overzicht zodat je een samenvatting in één oogopslag hebt</p>
            <br><br><br><br><br>
            <p class="lead">Deze applicatie...</p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Gemaakt door Jurgen Bosmans <a href="http://www.2004.be">2004.be</a>, &copy; 2015.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


