<% title("About") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
		<!-- De eerste rij met titel en topmenu -->
		<div class="row">
			<div class="masthead clearfix">
				<div class="inner">
					<div class="col-md-1" align="right">
              			<%= image_tag("pro.jpg", :class => "img-circle", :size => "40") %>
            		</div>
					<div class="col-md-2">
						<h3 class="masthead-brand">JBapp</h3>
					</div>
					<div class="col-md-9">
						<nav>
							<ul class="nav masthead-nav">
							  <li><%= link_to "Home", home_path %></li>
							  <li class="active"><a href="#">About</a></li>
							  <% if !user_signed_in? %>
								<li><%= link_to "Log in", new_user_session_path %></li>
							  <% else %>
								<li><%= link_to "Dashboard", inside_path %></li>
								<li><%= link_to "Afmelden (#{current_user.username})", destroy_user_session_path, data:{method: :delete} %></li>
								<li><%= link_to "Profiel", edit_user_registration_path %></li>
								<% if current_user.admin? %>
									<li>
										<%= link_to  admin_root_path do %>
											<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
										<% end %>
									</li>
								<% end %>
							  <% end %>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>


	</div>
		<!-- De tweede rij met de content en het menu -->
		<%= render 'layouts/messages' %>
		<div class="row">
			<!-- Main -->
			<div class="banner">
				<h1 class="banner_content_h1">Snips in de cloud</h1>
				<p class="banner_content_p" align="center">Gebruik deze website om allerhande snips bij te houden.&nbsp&nbspVanaf nu niet meer zoeken waar deze informatie is gebleven dankzij deze app en de cloud heb je ze altijd bij de hand.
				&nbsp&nbspMomenteel zijn er 9 snips ter beschikking voor meer info zie de "About" pagina.&nbsp&nbspVia het dashboard heb je steeds een overzicht van de meest recente informatie.&nbsp&nbspJe kan dit programma met
				meerdere gebruikers instellen zodat ieder enkel zijn informatie ter beschikking heeft.</p>
			</div>
			<div class="avatar" align="center">
				<%= image_tag("pro.jpg", :class => "img-circle border") %>
			</div>
			            	<p class="lead">
              		<%= link_to "Registreer", new_user_registration_path, :class => "btn btn-lg btn-info" %>
            	</p>
		</div>

