<% title("Home") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
		<!-- De eerste rij met titel en topmenu -->
		<div class="row">
			<div class="masthead clearfix">
				<div class="inner">
					<div class="col-md-1" align="right">
              			<%= image_tag("pro.jpg", :class => "img-circle", :size => "40") %>
            		</div>
					<div class="col-md-2">
						<h3 class="masthead-brand">JBapp</h3>
					</div>
					<div class="col-md-9"> <!-- Top Menu -->
						<nav>
							<ul class="nav masthead-nav">
                  				<li class="active"><a href="#">Home</a></li>
                  				<li><%= link_to "About", about_path %></li>
                  				<% if !user_signed_in? %>
                    				<li><%= link_to "Log in", new_user_session_path %></li>
                  				<% else %>
                    				<li><%= link_to "Dashboard", inside_path %></li>
                  					<li><%= link_to "Afmelden (#{current_user.username})", destroy_user_session_path, data:{method: :delete} %></li>
									<li><%= link_to "Profiel", edit_user_registration_path %></li>
									<% if current_user.admin? %>
  										<li>
											<%= link_to  admin_root_path do %>
        										<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        									<% end %>
										</li>
									<% end %>
                  				<% end %>
                			</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		  
		<!-- De tweede rij met de content en het menu -->
		<div class="row input-formulier">
			<div class="col-md-6 col-md-offset-3"> <!-- Main -->
            	<div align="center">
					<%= image_tag("pro.jpg", :class => "img-circle") %>
            	</div>
            	<h1 class="cover-heading">Snips in de cloud.</h1>
            	<p class="lead">Gebruik deze website om allerhande snips bij te houden.&nbsp&nbspVanaf nu niet meer zoeken waar deze informatie is gebleven dankzij deze app en de cloud heb je ze altijd bij de hand.
				&nbsp&nbspMomenteel zijn er 9 snips ter beschikking voor meer info zie de "About" pagina.&nbsp&nbspVia het dashboard heb je steeds een overzicht van de meest recente informatie.&nbsp&nbspJe kan dit programma met
				meerdere gebruikers instellen zodat ieder enkel zijn informatie ter beschikking heeft.</p>
            	<p class="lead">
              		<%= link_to "Registreer", new_user_registration_path, :class => "btn btn-lg btn-default" %>
            	</p>
          	</div>
		</div>
	</div>