<% title("Home") %>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">JBapp</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><%= link_to "About", about_path %></li>
                  <% if !user_signed_in? %>
                    <li><%= link_to "Log in", new_user_session_path %></li>
                  <% else %>
                    <li><%= link_to "Dashboard", inside_path %></li>
                  	<li><%= link_to "Afmelden (#{current_user.username})", destroy_user_session_path, data:{method: :delete} %></li>
					<li><%= link_to "Account", edit_user_registration_path %></li>
					<% if current_user.admin? %>
  						<li>
							<%= link_to  admin_root_path do %>
        						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        					<% end %>
						</li>
					<% end %>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
          <%= render 'layouts/messages' %>
          <div class="inner cover">
            <div align="center">
              <img src="pro.jpg" alt="ronde afbeelding" class="img-circle">
            </div>
            <h1 class="cover-heading">Snips in de cloud.</h1>
            <p class="lead">Weet je ook niet meer in welke app of op welke pc, smartphone of tablet je die informatie hebt bijgehouden.  Wel op deze website kan je ze bewaren en heb je ze altijd bij de hand.</p>
            <p class="lead">
              <%= link_to "Registreer", new_user_registration_path, :class => "btn btn-lg btn-default" %>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Gemaakt door Jurgen Bosmans <a href="http://www.2004.be">2004.be</a>, &copy; 2015.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

