<br>
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
  	</div>
  	<div class="panel-body">
    	<div class="row">
			<table class="table table-condensed table-hover">
  				<tbody>
					<% if not @website.nil? %>
      				<tr>
		  				<td  style="border-top: none;">
							<div style="height: 75px; overflow:auto;">
								<span class="label label-warning label-as-badge"><%= @website_aantal %> websites</span>
							</div>
						</td>
		  				<td  style="border-top: none;">
							<p>De recenste website is <b><%= link_to @website.sitenaam, websites_path(:teller => @website.id, :url => @website.url) %></b> van <%= 								@website.created_at.strftime("%d %b %Y") %>.<br>De meest bezochte zijn 
      						<%  @websites_pop.each do |website| %>
      						<b><%= link_to website.sitenaam, websites_path(:teller => website.id, :url => website.url) %></b>
      						<% if website != @websites_pop.last %> ,<% end %>
      						<%  end %>
							</p>
						</td>
		  				<td  style="border-top: none;">
							<div class="btn-group"><%= link_to new_website_path, :class => "btn-sm btn-primary" do %><span class="glyphicon glyphicon-plus-sign"></span><% end %>
    						</div>
						</td>		
    				</tr>
					<% end %>
					<% if not @notitie.nil? %>
					<tr>
						<td  style="border-top: none;">
							<div style="height: 75px; overflow:auto;">
								<span class="label label-warning label-as-badge"><%= @notitie_aantal %> notities</span>
							</div>
						</td>
						<td  style="border-top: none;">
							<p>De recenste notitie is van <%= @notitie.created_at.strftime("%d %b %Y") %> :<br><%=simple_format(@notitie.notitie) %></p>
						</td>
						<td  style="border-top: none;">
							<div class="btn-group"><%= link_to new_notitie_path, :class => "btn-sm btn-primary" do %><span class="glyphicon glyphicon-plus-sign"></span><% end %>
      						</div>
						</td>
					</tr>
					<% end %>
					<% if not @aankoop.nil? %>
					<tr>
						<td  style="border-top: none;">
							<div style="height: 75px; overflow:auto;">
								<span class="label label-warning label-as-badge"><%= @aankoop_aantal %> aankopen</span>
							</div>
						</td>
						<td  style="border-top: none;">
							<p>De recenste aankoop is van <%= @aankoop.created_at.strftime("%d %b %Y") %> en betreft een <b><%= @aankoop.artikel %></b> met een prijs van <b><%=  number_to_currency(@aankoop.prijs, locale: :nl) %></b>.</p>
						</td>
						<td  style="border-top: none;">
							<div class="btn-group"><%= link_to new_aankoop_path, :class => "btn-sm btn-primary" do %><span class="glyphicon glyphicon-plus-sign"></span><% end %>
      						</div>
						</td>
					</tr>
					<% end %>
					<% if not @onderhoud.nil? %>
					<tr>
						<td  style="border-top: none;">
							<div style="height: 75px; overflow:auto;">
								<span class="label label-warning label-as-badge"><%= @onderhoud_aantal %> onderhouden</span>
							</div>
						</td>
						<td  style="border-top: none;">
							<p>Het recenste onderhoud is van <%= @onderhoud.created_at.strftime("%d %b %Y") %> op artikel <b><%= @onderhoud.aankoop.artikel %></b> met een kost van <b><%=  number_to_currency(@onderhoud.prijs, locale: :nl) %></b>.</p>
						</td>
						<td  style="border-top: none;">
							<div class="btn-group"><%= link_to new_onderhoud_path, :class => "btn-sm btn-primary" do %><span class="glyphicon glyphicon-plus-sign"></span><% end %>
      						</div>
						</td>
					</tr>		
					<% end %>
					<% if not @meterstand.nil? %>
					<tr>
						<td  style="border-top: none;">
							<div style="height: 75px; overflow:auto;">
								<span class="label label-warning label-as-badge"><%=@meterstand_aantal %> meterstanden</span>
							</div>
						</td>
						<td  style="border-top: none;">
							<p>De recentste <b><%= @meterstand.meter %></b>-meterstand was op <%= @meterstand.created_at.strftime("%d %b %Y") %> met een stand van <%= @meterstand.stand %> en een verbruik van <b><%= @meterstand.verbruik %></b>.</p>
						</td>
						<td  style="border-top: none;">
							<div class="btn-group"><%= link_to new_meterstand_path, :class => "btn-sm btn-primary" do %><span class="glyphicon glyphicon-plus-sign"></span><% end %>
      						</div>
						</td>
					</tr>
					<% end %>
					<tr>
						<td  style="border-top: none;">
						</td>
						<td  style="border-top: none;">
						</td>
						<td  style="border-top: none;">
						</td>
					</tr>				
  				</tbody>
			</table>
		</div>
	</div>
</div>

