<%= form_for @soort_prestatie ,:html => { :class => "form-horizontal", :role => "form"} do |f| %>
<% if @soort_prestatie.errors.any? %>
    <div id="error_explanation">
		<h2><%= pluralize(@soort_prestatie.errors.count, "error") %> waardoor het item niet kan aangemaakt worden:</h2>
      <ul>
		  <% @soort_prestatie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
	  <%= f.label :soort, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
		<%= f.text_field :soort, :autofocus => true, class: "form-control input-sm" %>  
    </div>
  </div>

  <div class="form-group">
	  <%= f.label :soort_detail, "Onderverdeling" , class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
		<%= f.text_field :soort_detail, class: "form-control input-sm" %>  
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Bevestig", class: "btn-sm btn-info" %>
    </div>
  </div>  
<% end %>


