<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-8">
          	<p class="pull-right visible-xs">
            	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          	</p>
			<h3 class="masthead-brand">Soort prestaties.&nbsp&nbsp <small>Definieer hier alle soort prestaties.</small></h3>
			<div class="row">
				<%= render 'layouts/messages' %>
				<table class="table">
					<thead>
						<tr>
							<th>Soort</th>
							<th>Extra onderverdeling</th>
						  	<th></th>
						  	<th></th>
						</tr>
					</thead>
					<tbody>
						<% @soort_prestatie.each do |soort_prestatie| %>
						<tr>
							<td width="20%"><%= soort_prestatie.soort %></td>
							<td width="20%"><%= soort_prestatie.soort_detail %></td>
							<td width="5%">
								<div class="btn-group">
									<%= link_to  edit_soort_prestatie_path(soort_prestatie), :class => "btn-sm btn-primary" do %>
										<span class="glyphicon glyphicon-edit" title="Wijzig soort prestatie"></span>
									<% end %>
								</div>
							</td>
							<td width="5%">
								<div class="btn-group">
									<%= link_to  soort_prestatie, method: :delete, data: { confirm: 'Bent u zeker?' }, :class => "btn-sm btn-primary" do %>
										<span class="glyphicon glyphicon-remove-sign" title="Verwijder deze soort prestatie"></span>
									<% end %>
								</div>
							</td>
						  </tr>
						<% end %>
  					</tbody>
				</table>
			</div>
		</div>
		<%= render 'prestaties/menu' %>
	</div>
</div>
