<% title("Soort prestatie") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
	<div class="row">
		<div class="col-md-9"><!-- Main -->
			<div class="row">
				<h3 class="masthead-brand">Soort prestatie&nbsp&nbsp&nbsp<small>>> definieer hier je soort prestaties</small></h3>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"> <!-- Main -->
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- De tabel -->
			<div class="row">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Soort</th>
							<th>Extra onderverdeling</th>
						  	<th></th>
						  	<th></th>
						</tr>
					</thead>
					<tbody>
						<% @soort_prestatie.each do |soort_prestatie| %>
						<tr>
							<td width="20%"><%= soort_prestatie.soort %></td>
							<td width="20%"><%= soort_prestatie.soort_detail %></td>
							<td width="5%">
								<div class="btn-group">
									<%= link_to  edit_soort_prestatie_path(soort_prestatie) do %>
										<span class="glyphicon glyphicon-edit" title="Wijzig soort prestatie"></span>
									<% end %>
								</div>
							</td>
							<td width="5%">
								<div class="btn-group">
									<%= link_to  soort_prestatie, method: :delete, data: { confirm: 'Bent u zeker?' } do %>
										<span class="glyphicon glyphicon-trash" title="Verwijder deze soort prestatie"></span>
									<% end %>
								</div>
							</td>
						  </tr>
						<% end %>
  					</tbody>
				</table>
			</div>
		</div>

		<!-- Menu -->
		<%= render 'prestaties/menu' %>
	</div>
</div>
