		<div class="col-xs-12 col-sm-1"></div><!--/om ruimte te laten tussen tabel en menu-->
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        	<div class="list-group">
				<p align="center"><%= link_to 'Prestaties menu', prestaties_path(:filter => "alle"), :class =>"list-group-item active" %>
				<%= link_to 'Nieuwe toevoegen', new_prestatie_path, :class =>"list-group-item" %>
			  	<%= link_to "Afgelopen maand", prestaties_path(:filter => "maand"), :class =>"list-group-item" %>
			  	<%= link_to "Afgelopen jaar", prestaties_path(:filter => "jaar"), :class =>"list-group-item" %>
			  	<%= link_to "Schoolprestaties per kind", prestaties_path(:filter => "school"), :class =>"list-group-item" %>
			  	<%= link_to "Sportprestaties per persoon", prestaties_path(:filter => "sport"), :class =>"list-group-item" %>
			  	<%= link_to "Soort prestaties", soort_prestaties_path, :class =>"list-group-item" %>
				<%= link_to 'Soort prestatie toevoegen', new_soort_prestatie_path , :class =>"list-group-item" %>
			  	<%= link_to "Kinderen", personen_path(:filter => "kind"), :class =>"list-group-item" %>
			  	<%= link_to "Kind toevoegen", new_persoon_path , :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to "Terug naar het dashboard", inside_path, :class => "list-group-item active" %></strong>
          	</div>
        </div><!--/.sidebar-offcanvas-->

