		<div class="col-sm-2 col-sm-offset-1"> 
        	<div class="list-group">
				<p align="center"><%= link_to 'Prestaties menu', prestaties_path(:filter => "alle"), :class =>"list-group-item active" %>
				<%= link_to 'Nieuwe toevoegen', new_prestatie_path, :class =>"list-group-item" %>
			  	<%= link_to "Afgelopen maand", prestaties_path(:filter => "maand"), :class =>"list-group-item" %>
			  	<%= link_to "Afgelopen jaar", prestaties_path(:filter => "jaar"), :class =>"list-group-item" %>
			  	<%= link_to "Schoolprestaties per kind", prestaties_path(:filter => "school"), :class =>"list-group-item" %>
			  	<%= link_to "Sportprestaties per persoon", prestaties_path(:filter => "sport"), :class =>"list-group-item" %>
			  	<%= link_to "Soort prestaties", soort_prestaties_path, :class =>"list-group-item" %>
				<%= link_to 'Soort prestatie toevoegen', new_soort_prestatie_path , :class =>"list-group-item" %>
				<%= link_to "Personen", personen_path(:filter => "prestatie"), :class =>"list-group-item" %>
				<%= link_to "Persoon toevoegen", new_persoon_path(:filter => "prestatie"), :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to inside_path, :class => "list-group-item active" do %>
					<i class="glyphicon glyphicon-th"></i>&nbsp; Dashboard
				<% end %></strong></p>
			</div>
		</div>