<br>
<div class="panel panel-info">
  <div class="panel-heading">
	  <h3 class="panel-title">Prestaties : <%= @filter %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
		</div>
		
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Persoon</th>
      <th>Soort</th>
      <th></th>
      <th>Tijd</th>		
      <th>Afstand</th>		
      <th>AVG LAP</th>		
      <th>BEST LAP</th>
      <th>HR AVG</th>
      <th>HR MAX</th>
      <th>CAL</th>		
      <th>KG</th>		
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	  <% @prestaties.each do |prestatie| %>
      <tr>
		  <td><%= prestatie.datum.strftime("%d/%m/%Y") %></td>
		  <td><%= prestatie.persoon.voornaam %></td>
        <td><%= prestatie.soort_prestatie.soort %></td>
        <td><%= prestatie.soort_prestatie.soort_detail %></td>
      <td><%= prestatie.tijd %></td>
      <td><%= prestatie.afstand %></td>
		  <td><%= prestatie.avg_lap %></td>
        <td><%= prestatie.best_lap %></td>
        <td><%= prestatie.hr_avg %></td>
        <td><%= prestatie.hr %></td>
        <td><%= prestatie.cal %></td> 
        <td><%= prestatie.gewicht %></td> 
		<td width=50px><div class="btn-group">
			<%= link_to  edit_prestatie_path(prestatie), :class => "btn-xs btn-info" do %>
            <span class="glyphicon glyphicon-edit" title="Wijzig deze prestatie"></span>
            <% end %>
		</div></td>
        <td width=50px><div class="btn-group">
			<%= link_to prestatie, method: :delete, data: { confirm: 'Bent u zeker?' }, :class => "btn-xs btn-info" do %>
            <span class="glyphicon glyphicon-remove-sign" title="Verwijder deze prestatie"></span>
            <% end %>
		</div></td>  		
    </tr>
    <% end %>
  </tbody>
</table>
		
		<p align="center"><%= link_to 'Toevoegen', new_prestatie_path, {class: "btn btn-sm btn-info"} %></p>
</div>
