		<div class="col-sm-2 col-sm-offset-1"> 
        	<div class="list-group">
				<p align="center"><%= link_to 'Culinair menu', recepten_path(:filter => "alle"), :class =>"list-group-item active" %>
				<%= link_to 'Nieuw recept toevoegen', new_recept_path, :class =>"list-group-item" %>
					<%= link_to "Top 10 recepten", recepten_path(:filter => "top10"), :class =>"list-group-item" %>
				<%= link_to "Recepten met een score van +9", bereidingen_path(:filter => "alle"), :class =>"list-group-item" %>
				<%= link_to "1 jaar niet gemaakt", bereidingen_path(:filter => "alle"), :class =>"list-group-item" %>
				<%= link_to "Beoordelingen", bereidingen_path(:filter => "alle"), :class =>"list-group-item" %>
				<%= link_to 'Beoordeling toevoegen', new_bereiding_path, :class =>"list-group-item" %>
			  	<%= link_to "Ingrediëntenlijst", ingredient_recepten_path, :class =>"list-group-item" %>
			  	<%= link_to "Culinaire tips", tips_path, :class =>"list-group-item" %>
				<%= link_to 'Tip toevoegen', new_tip_path, :class =>"list-group-item" %>
			  	<%= link_to 'Productkennis', producten_path(:filter => "alle"), :class =>"list-group-item" %>
				<%= link_to 'Productkennis toevoegen', new_product_path, :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to inside_path, :class => "list-group-item active" do %>
					<i class="glyphicon glyphicon-th"></i>&nbsp; Dashboard
				<% end %></strong></p>
			</div>
		</div>
