<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-8">
          	<p class="pull-right visible-xs">
            	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          	</p>
			<h3 class="masthead-brand">Ingrediëntenlijst per recept A-Z.&nbsp&nbsp <small></small></h3>
			<div class="row">
				<%= render 'layouts/messages' %>
				<table class="table">
					<% @recepten.each do |recept| %>
						<%= link_to recept.naam.upcase %><br>
					<% end %>
					<% @recepten.each do |recept| %>
						<b><%= recept.naam.upcase %></b><br>
						<%= simple_format(recept.ingredient) %>
					<% end %>
				</table>
			</div>
		</div>
		<%= render 'recepten/menu' %>
	</div>
</div>

