<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-8">
          	<p class="pull-right visible-xs">
            	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          	</p>
			<h3 class="masthead-brand">Ingrediëntenlijst per recept A-Z.&nbsp&nbsp <small></small></h3>
			<div class="row">
				<%= render 'layouts/messages' %>
				<table class="table">
					<% @recepten.each do |recept| %>
					<% if !recept.ingredienten.empty? %>
							<%= link_to recept.naam.upcase, :anchor => recept.naam %><br>
						<% end %>
					<% end %>
					<hr>
					<% @recepten.each do |recept| %>
					<% if !recept.ingredienten.empty? %>
							<div class="naam" id="<%=recept.naam %>">
								<span><%= link_to ingredient_recepten_path do %><i class="fa fa-shopping-cart fa-lg"></i>&nbsp&nbsp
								<% end %></span>
								<b><%= recept.naam.upcase %></b>
							</div>
							<% recept.ingredienten.each do |ingredient| %>
								<%= ingredient.naam %><br>
							<% end %>
						<% end %>
					<br>
					<% end %>
				</table>
			</div>
		</div>
		<%= render 'recepten/menu' %>
	</div>
</div>