<% title("Ingrediëntenlijst") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
	<div class="row">
		<div class="col-md-9"><!-- Main -->
			<div class="row">
				<h3 class="masthead-brand">Ingrediëntenlijst&nbsp&nbsp&nbsp<small>>> alle ingrediënten per recept van A-Z</small></h3>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"> <!-- Main -->
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- De tabel -->
			<div class="row">
				<table class="table table-condensed">
					<% @recepten.each do |recept| %>
					<% if !recept.ingredienten.empty? %>
							<%= link_to recept.naam.upcase, :anchor => recept.naam %><br>
						<% end %>
					<% end %>
					<hr>
					<% @recepten.each do |recept| %>
					<% if !recept.ingredienten.empty? %>
							<div class="naam" id="<%=recept.naam %>">
								<span><%= link_to ingredient_recepten_path do %><i class="fa fa-shopping-cart fa-lg"></i>&nbsp&nbsp
								<% end %></span>
								<b><%= recept.naam.upcase %></b>
							</div>
							<% recept.ingredienten.each do |ingredient| %>
								<%= ingredient.naam %><br>
							<% end %>
						<% end %>
					<br>
					<% end %>
				</table>
			</div>
		</div>

		<!-- Menu -->
		<%= render 'recepten/menu' %>
	</div>
</div>