<% title("Todo's") %>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<h3 class="masthead-brand">Todo lijstje "<%= @todo.naam %>" , <small> <%= @todo.beschrijving %>.&nbsp&nbsp Voeg items toe.</small></h3>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- Main -->
			<div class="row">
				<div id="todo_items_wrapper">
					<%= render @todo.todo_items %>
					<div id="form">
						<%= render "todo_items/form" %>
					</div>
				</div>
			</div>
		</div>
		<%= render 'todo_items/menu' %>
	</div>
</div>