<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Omschrijving</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |categorie| %>
      <tr>
        <td><%= categorie.omschrijving %></td>
        <td><%= link_to 'Toon', categorie %></td>
        <td><%= link_to 'Wijzig', edit_categorie_path(categorie) %></td>
        <td><%= link_to 'Verwijder', categorie, method: :delete, data: { confirm: 'Bent u zeker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nieuwe Categorie', new_categorie_path %>
