<% title("Titel") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
		<!-- De eerste rij met titel en topmenu -->
		<div class="row">
			<div class="masthead clearfix">
				<div class="inner">
					<div class="col-md-3">
						<h3 class="masthead-brand">JBapp</h3>
					</div>
					<div class="col-md-6">
					</div>
					<div class="col-md-3"> <!-- Top Menu -->
						<nav>
							<ul class="nav masthead-nav">
                  				<li class="active"><a href="#">Home</a></li>
                  				<li><%= link_to "About", about_path %></li>
                  				<% if !user_signed_in? %>
                    				<li><%= link_to "Log in", new_user_session_path %></li>
                  				<% else %>
                    				<li><%= link_to "Dashboard", inside_path %></li>
                  					<li><%= link_to "Afmelden (#{current_user.username})", destroy_user_session_path, data:{method: :delete} %></li>
									<li><%= link_to "Profiel", edit_user_registration_path %></li>
									<% if current_user.admin? %>
  										<li>
											<%= link_to  admin_root_path do %>
        										<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        									<% end %>
										</li>
									<% end %>
                  				<% end %>
                			</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- Dit zijn de alert messages -->
		<div class="row">
			<div class="col-md-6 col-md-offset-3"> 
				<%= render 'layouts/messages' %>
			</div>
		</div>

		<!-- De tweede rij met de content en het menu -->
		<div class="row">
			<div class="col-md-9 inner"> <!-- Main -->



			</div>
			<div class="col-md-3"> <!-- Menu -->
				<div class="panel panel-default">
					<div class="panel-body">Panel content</div>
					<div class="panel-footer">Panel footer</div>
				</div>
			</div>
		</div>

		<!-- Dit is de footer -->
        <div class="mastfoot inner">
			<p>Gemaakt door Jurgen Bosmans <a href="http://www.2004.be">2004.be</a>, &copy; 2015.</p>
        </div>
	</div>

<div style="background-color:green;">test</div>