<% title("Tips") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
	<div class="row">
		<div class="col-md-9"><!-- Main -->
			<div class="row">
				<h3 class="masthead-brand">Tips&nbsp&nbsp&nbsp<small>>> noteer hier je culinaire tips</small></h3>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"> <!-- Main -->
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- De tabel -->
			<div class="row">
				<table class="table table-condensed">
					<% @tips.each do |tip| %>
						<tr>
							<td><%= tip.created_at.strftime("%d/%m/%Y") %></td>
							<td><%= tip.tip %></td>
							<td>
								<div class="btn-group">
									<%= link_to  edit_tip_path(tip) do %>
										<span class="glyphicon glyphicon-edit" title="Wijzig deze tip"></span>
									<% end %>
								</div>
							</td>
							<td>
								<div class="btn-group">
									<%= link_to  tip, method: :delete, data: { confirm: 'Bent u zeker?' } do %>
										<span class="glyphicon glyphicon-trash" title="Verwijder deze tip"></span>
									<% end %>
								</div>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>

		<!-- Menu -->
		<%= render 'recepten/menu' %>
	</div>
</div>

