<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-8">
          	<p class="pull-right visible-xs">
            	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          	</p>
			<h3 class="masthead-brand">Tips.&nbsp&nbsp <small>Noteer hier je culinaire tips.</small></h3>
			<div class="row">
				<%= render 'layouts/messages' %>
				<table class="table">
					<% @tips.each do |tip| %>
						<tr>
							<td width="20%"><%= tip.created_at.strftime("%d/%m/%Y") %></td>
							<td width="20%"><%= tip.tip %></td>
							<td width="5%">
								<div class="btn-group">
									<%= link_to  edit_tip_path(tip), :class => "btn-sm btn-primary" do %>
										<span class="glyphicon glyphicon-edit" title="Wijzig deze tip"></span>
									<% end %>
								</div>
							</td>
							<td width="5%">
								<div class="btn-group">
									<%= link_to  tip, method: :delete, data: { confirm: 'Bent u zeker?' }, :class => "btn-sm btn-primary" do %>
										<span class="glyphicon glyphicon-remove-sign" title="Verwijder deze tip"></span>
									<% end %>
								</div>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
		<%= render 'recepten/menu' %>
	</div>
</div>

