<% if !user_signed_in? %>
  <li><%= link_to "Log in", new_user_session_path %></li>
  <li><%= link_to "Nieuw account", new_user_registration_path %></li>
<% else %>
  <li>        <%= link_to  inside_path, :class => 'navbar-brand' do %>
        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
        <% end %></li>

  
  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Website<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Alle", websites_path %></li>
            <li><%= link_to "Top 10 bezocht", websites_path(:top => "10") %></li>
            <li><%= link_to "Laatste 5 bezocht", websites_path(:recent_bezocht => "5") %></li>
            <li><%= link_to "Laatste 5 toegevoegd", websites_path(:recentste => "5") %></li>
            <li class="divider"></li>
            <li><%= link_to "Categorie", categories_path %></li>
          </ul>
  </li>
  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notitie<b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><%= link_to "Alle", notities_path(:alle => "0") %></li>
              <li><%= link_to "Belangrijk", notities_path(:belangrijk => "0") %></li>
              <li><%= link_to "Laatste 6 toegevoegd", notities_path(:recent => "0") %></li>
          </ul>
  </li>
<li><%= link_to "Gezondheid", "" %></li>
<li><%= link_to "Meterstand", "" %></li>
    <li><%= link_to "Aankoop", "" %></li>
    <li><%= link_to "Onderhoud", "" %></li>
    <li><%= link_to "Culinair", "" %></li>
    <li><%= link_to "Kids", "" %></li>
<% end %>
