<% title("Beoordelingen") %>
<div class="container">	<!-- container-fluid is ook mogelijk over de ganse breedte -->
	<div class="row">
		<div class="col-md-9"><!-- Main -->
			<div class="row">
				<h3 class="masthead-brand">Beoordelingen&nbsp&nbsp&nbsp<small>>> hier kan je alle beoordelingen terugvinden</small></h3>
			</div>

			<!-- Dit zijn de alert messages -->
			<div class="row">
				<div class="col-md-6 col-md-offset-3"> <!-- Main -->
					<%= render 'layouts/messages' %>
				</div>
			</div>

			<!-- De tabel -->
			<div class="row">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Datum</th>
							<th>Recept</th>
							<th>Score</th>
							<th>Opmerking</th>
						  	<th></th>
							<th></th>
						</tr>
					</thead>
				  	<tbody>
						<% @bereidingen.each do |bereiding| %>
					  		<tr>
								<td><%= bereiding.datum.strftime("%d/%m/%Y") %></td>
								<td><%= bereiding.recept.naam %></td>
								<td width=50px align="right"><%= bereiding.score %></td>
								<td><%= bereiding.opmerking %></td>
								<td width=50px>
									<div class="btn-group">
										<%= link_to  edit_bereiding_path(bereiding) do %>
											<span class="glyphicon glyphicon-edit" title="Wijzig deze bereiding"></span>
										<% end %>
									</div>
								</td>
								<td width=50px>
									<div class="btn-group">
										<%= link_to  bereiding, method: :delete, data: { confirm: 'Bent u zeker?' } do %>
											<span class="glyphicon glyphicon-trash" title="Verwijder deze bereiding"></span>
										<% end %>
									</div>
								</td>
							</tr>
						<% end %>
				  	</tbody>
				</table>
			</div>
		</div>

		<!-- Menu -->
		<%= render 'recepten/menu' %>
	</div>
</div>
